<meta name="TemplateVersion" content="V11.05.00">
<meta name="TemplateHome" content="standard">
<meta name="HelpFileName" content="NoContextSet.html">
<meta name="CrossBrowser" content="true">
<script type="text/javascript">
function ShowDetail01(linkurl) {
  Left=(document.body.clientWidth-450)/2
  DFrameLink(linkurl,0,Left,450,350)
}
</script>
%START.OF.PAGE
<body onload="PageLoad(event);">
<span class=DFrameTitleBar id=DFrameHeading>
<img align="right" alt="Exit" class="MenuIcon" 
 src="../images/ExitIcon.gif" onclick="DFrameExit();">
Previous Address List                    
</span>
<div id=PageBodySection>
<table width=100% border=0 cellspacing=0 cellpadding=0>
<tr>
  <td colspan=5>
    <table width=100% border=0 cellspacing=0 cellpadding=2>
    <tr>
      <td class=HeadingCell style="width:92px">Date Changed</td>
      <td class=HeadingCell style="width:340px">Previous Address </td>
      <td class=HeadingCell style="width:120px">Previous Phone (H)</td>
      <td class=HeadingCell style="width:200px">Previous Mobile</td>
      <td class=HeadingCell>User Updated </td>
    </tr>
    <tr>
      <td class=HeadingCell>Time Changed</td>
      <td class=HeadingCell>&nbsp;</td>
      <td class=HeadingCell>Previous Phone (W)</td>
      <td class=HeadingCell>Previous Email</td>
      <td class=HeadingCell>&nbsp;</td>
    </tr>
    </table>
  </td>
</tr>
</table>

<table width=100% border=0 cellspacing=0 cellpadding=2>
%PATWEB98.01.307.patweb98.03.004
</table>
</div>

<div id=PageHeadingSection>
<table width=100% border=0>
<tr><td colspan=4 align=center>
    <input type=button value="Close" class="button" onclick='DFrameExit()'>
</td></tr>
<tr><td colspan=4 align=center>&nbsp;</td></tr>
</table>
</div>

<script type="text/javascript">
PageBodySection.style.height=PageBodySection.clientHeight -
                             (PageHeadingSection.clientHeight +
                              DFrameHeading.clientHeight)
PageHeadingSection.style.top=PageBodySection.clientHeight
</script>
